/*==========================================*/
/*= CONTAINER MENU NAVBAR =*/
/*==========================================*/
.Container_menu_navbar{
    position: relative;
    top: calc(25% - 128px);
}

.Container_menu_navbar.-Right-{
    margin-bottom: 160px;
}
/*==========================================*/
/*= ASIDE =*/
/*==========================================*/
.Container_menu_navbar aside{
    position: relative;
    padding: 2px; /*MOBILE*/
    left: 50%; /*MOBILE*/
    transform: translateX(-50%); /*MOBILE*/
    width: 50vw; /*MOBILE*/
    max-width: 450px;
    min-width: 300px;
    background-color: var(--clrB); /*MOBILE*/
    clip-path: var(--plgn7); /*MOBILE*/
}
.Container_menu_navbar.-Right- aside{
    position: absolute; /*MOBILE*/
    bottom: 0; /*MOBILE*/
}
.Aside_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clrZ); /*MOBILE*/
    clip-path: var(--plgn8); /*MOBILE*/
}
.Aside_container p{
    color: var(--txt2);
    padding: 15px 0;
}
.Aside_container a{
    margin-left: 10px;
    border: 1px solid transparent;
}
.Aside_container svg{
    display: block;
    fill: var(--txt2);
    width: 24px;
    height: 24px;
}
/*==========================================*/
/*= ANIMATION ASIDE =*/
/*==========================================*/
.Aside_container a:nth-of-type(1){
    --color_svg: #5865f2;
    --color_svg-1 : #141736;
}
.Aside_container a:nth-of-type(2){
    --color_svg: #fff;
    --color_svg-1 : #000;
}
.Aside_container a:nth-of-type(3){
    --color_svg: #e20093;
    --color_svg-1 : #36142a;
}
.Aside_container a:nth-of-type(4){
    --color_svg: #5865f2;
    --color_svg-1 : #141736;
}
.Aside_container a:hover{
    border-color: var(--color_svg);
    background-color: var(--color_svg-1);
    box-shadow: inset 0 0 3px var(--color_svg),
    0 0 5px var(--color_svg), 0 0 5px var(--color_svg);
}
.Aside_container a:hover > svg{
    fill: var(--color_svg);
}
/*==========================================*/
/*= NAV =*/
/*==========================================*/
.Container_menu_navbar nav{
    display: flex;
    justify-content: center;
}
.Container_menu_navbar.-Right- nav{
    padding-bottom: 60px;
}
.Container_menu_navbar nav li{
    margin-top: 10px;
}
.Container_menu_navbar nav a{
    display: block;
    position: relative;
    padding: 15px;
    width: 272px;
    background-color: var(--clrD);
    clip-path: var(--plgn14);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.Container_menu_navbar nav a::before{
    position: absolute;
    content: "";
    inset: 2px;
    background-color: var(--clrA);
    clip-path: var(--plgn14);
    z-index: -1;
}
@media screen and (min-width: 1441px){
    .Aside_container{ 
        width: 105%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .Aside_container{ 
        width: 102%;
    }
    .Aside_container a{
        margin-left: 5px;
    }
}

@media screen and (min-width: 1025px){
    /*= CONTAINER MENU NAVBAR =*/
    .Container_menu_navbar{
        position: initial;/*R*/
        flex: 1;
        top: initial;/*R*/
        z-index: 1;
    }
    .Container_menu_navbar.-Right-{
        margin-bottom: initial;
    }
    /*= ASIDE =*/
    .Container_menu_navbar aside {
        padding: 20px 0;
        left: auto;
        transform: none;
        width: auto;
        max-width: none;
        min-width: 0;
        background-color: transparent;
        clip-path: none;
    }
    .Container_menu_navbar.-Left- aside{
        transform: skewX(var(--deg1));
    }
    .Container_menu_navbar.-Right- aside {
        position: relative;
        bottom: auto;
        transform: skewX(var(--deg-1));
    }
    .Aside_container {
        position: absolute;
        height: 100%;
        top: 0;
        background-color: var(--clrZ);
        border-bottom: 2px solid var(--clrB); 
        clip-path: none;
    }
    .Container_menu_navbar.-Left- .Aside_container{
        border-left: 2px solid var(--clrB); 
    }
    .Container_menu_navbar.-Right- .Aside_container{
        right: 0;
        border-right: 2px solid var(--clrB); 
    }
    .Aside_container p {
        padding: 0;  /* Rimuove il padding */
    }    
    .Aside_container a {
        transition: border-color .3s ease,
            background-color .3s ease,
                box-shadow .3s ease;
    }
    .Container_menu_navbar.-Left- .Aside_container p{
        transform: skewX(var(--deg-1));
    }
    .Container_menu_navbar.-Right- .Aside_container p,
    .Aside_container a{
        transform: skewX(var(--deg1));
    }
    /*= NAV =*/
    .Container_menu_navbar nav {
        display: block;  /* Reimposta il display al default */
        justify-content: initial; /* Ripristina il comportamento di default */
        padding: 0;  /* Rimuove qualsiasi padding */
    }
    .Container_menu_navbar nav ul{
        display: flex;
    }
    
    .Container_menu_navbar.-Right- nav {
        padding-bottom: 0;
    }
    .Container_menu_navbar nav li{
        margin-top: 0;
        flex: 1;
    }
    .Container_menu_navbar.-Left- nav li:nth-of-type(1){
        margin-left: 14px;
    }
    .Container_menu_navbar.-Right- nav li:nth-of-type(3){
        margin-right: 14px;
    }
    .Container_menu_navbar nav a {
        position: static;  /* Ripristina la posizione relativa a quella statica */
        padding: 25px 0;
        width: auto;  /* Resetta la larghezza */
        background-color: transparent;  /* Rimuove lo sfondo */
        clip-path: none;  /* Disattiva il clip-path */
        
        font-size: 25px;  /* Ripristina la dimensione del font */
    }
    
    .Container_menu_navbar nav a::before {
        position: static;  /* Rimuove la posizione assoluta */
        content: none;  /* Rimuove il contenuto pseudo-elemento */
        background-color: transparent;  /* Rimuove il colore di sfondo */
        clip-path: none;  /* Disattiva il clip-path */
        z-index: auto;  /* Ripristina il livello di z-index */
    }
    
}
@media screen and (max-height: 600px){
    .Container_menu_navbar{
        top: 20px;
    }
}