svg{
    display: none;
}
/*==========================================*/
/*= NAVBAR =*/
/*==========================================*/
.Navbar{
    display: flex;
    position: relative;
    background-color: var(--clrA);
    -webkit-user-select: none; /* Chrome, Safari, Opera */
        -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
}
.Navbar::before,
.Navbar::after{
    position: absolute;
    content: "";
    top: 75px;
    width: 25%;
    height: 15px;
    background-color: var(--clrA);
    clip-path: var(--plgn_trapezoid_2);
    z-index: 2;
}
.Navbar::before{
    right: 0px;
   
}
.Navbar::after{
    left: 0px;
     transform: scaleX(-1);
}
@media screen and (min-width: 1025px){
    .Navbar::before,
    .Navbar::after{
        width: 15%;
        height: 30px;
        clip-path: var(--plgn_trapezoid_1);
    }
}
/*==========================================*/
/*= CONTAINER BUTTON NAVBAR =*/
/*==========================================*/
.Container_button_navbar{
    display: flex;
    align-items: start;
    justify-content: end;
    flex: 1;
    margin: 9px 2px 0;
    /*.Continue file: /Style/NavBar/Container_button_navbar.css*/
}
/*==========================================*/
/*= CONTAINER MENU NAVBAR =*/
/*==========================================*/
.Container_menu_navbar{
    visibility: hidden;
    position: absolute;
    top: 75px;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
    overflow-y: scroll;
    z-index: 1;
    /*.Continue file: /Style/NavBar/Menu_navbar.css*/
}
.Container_menu_navbar::before,
.Container_menu_navbar::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 300px;
    top: 25%;
    clip-path: var(--plgn_trapezoide);
    background-color: #292929;
}
.Container_menu_navbar::before{
    transform: translateY(-43px);
}
.Container_menu_navbar::after{
    right: 0;
    transform: scaleX(-1) translateY(-43px);
}
@media screen and (max-height: 600px){
    /*= CONTAINER MENU NAVBAR =*/
    .Container_menu_navbar::before,
    .Container_menu_navbar::after{
        top: 105px;
    }
    .Container_menu_navbar::before{
        transform: none;
    }
    .Container_menu_navbar::after{
        transform: scaleX(-1);
    }
}
@media screen and (min-width:1025px){
    /*= CONTAINER BUTTON NAVBAR =*/
    .Container_button_navbar{
        margin: 0;
    }
    /*= CONTAINER MENU NAVBAR =*/
    .Container_menu_navbar{
        display: flex;
        visibility: visible;
        position: static;
        top: auto;
        width: auto;
        height: auto;
        min-height: auto;
        background-color: transparent;
        overflow-y: visible;
        z-index: auto;
    }
    .Container_menu_navbar::before,
    .Container_menu_navbar::after{
        display: none;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px){
    /*= CONTAINER BUTTON NAVBAR =*/
    .Container_button_navbar{
        flex: .15;
    }
    /*= CONTAINER MENU NAVBAR =*/
    .Container_menu_navbar{
        flex: .7;
    }
}
@media screen and (min-width: 1441px){
    /*= CONTAINER BUTTON NAVBAR =*/
    .Container_button_navbar{
        flex: .18;
    }
    /*= CONTAINER MENU NAVBAR =*/
    .Container_menu_navbar{
        flex: .64;
        min-width: 1008px;
    }
}
